**/.vscode/
**/compile_commands.json
**/afl-results/
**/*.gcda
**/*.gcno
**/*.gcov
**/_results/
**/*.json
new-demo/increment
overapprox/approx
**/tis_report.html
**/tis_misra_report/**
subtle-ub/demo-ub
