**/.vscode/
**/compile_commands.json
**/*.gcda
**/*.gcno
**/*.gcov
**/_results/
**/*.json
**/tis_report.html
**/tis_misra_report/**

**/afl-results/
fuzzing/afl-results*/
fuzzing/calc-*
fuzzing/tis-fuzz-results/*
fuzzing/seeds/seed-*smart*.txt

subtle-ub/demo-ub
new-demo/increment
overapprox/approx
target-awareness/target

