**/.vscode/
**/compile_commands.json
**/*.gcda
**/*.gcno
**/*.gcov
**/_results/
**/tis_report.html
**/tis_misra_report/**

**/afl-results/
fuzzing/afl-results*/
fuzzing/calc-*
fuzzing/tis-fuzz-results/*
fuzzing/seeds/seed-*smart*.txt

subtle-ub/demo-ub
new-demo/increment
overapprox/approx
target-awareness/target
**/__vfs-tis*
target-awareness/tis_report.*.html
caesar-cpp/caesar
new-demo-cpp/.tis-kernel/
new-demo-cpp/increment
**/.trustinsoft/**
